<div class="container-fluid">
    <div class="row">

<div class="col-md-12 footerimager parent-container2">
    <div class="row"> 
        <div class="col-md-2 px-0">
            <a href="assets/images/cake1.jpg">
                <img src="assets/images/cake1.jpg">
            </a>
        </div>
        <div class="col-md-2 px-0">
            <a href="assets/images/cake2.jpg">
                 <img src="assets/images/cake2.jpg">
             </a>
        </div>
        <div class="col-md-2 px-0">
          <a href="assets/images/cake3.jpg">
            <img src="assets/images/cake3.jpg">
           </a>
        </div>
        <div class="col-md-2 px-0">
            <a href="assets/images/soup1.jpg">
                <img src="assets/images/soup1.jpg">
            </a>
        </div>
        <div class="col-md-2 px-0">
                <a href="assets/images/desert2.jpg">
                    <img src="assets/images/desert2.jpg">
                  </a>
                </div>
        <div class="col-md-2 px-0">
                <a href="assets/images/dedert1.jpg">
                    <img src="assets/images/dedert1.jpg">
                 </a>
                </div>
        <div class="col-md-2 px-0">
            <a href="assets/images/desert2.jpg">
                <img src="assets/images/desert2.jpg">
            </a>
        </div> 
        <div class="col-md-2 px-0">
            <a href="assets/images/salad1.jpg">
                <img src="assets/images/salad1.jpg">
            </a>
            </div>
        <div class="col-md-2 px-0">
            <a href="assets/images/salad3.jpg">
                <img src="assets/images/salad3.jpg">
            </a>
        </div>
        <div class="col-md-2 px-0">
            <a href="assets/images/soup2.jpg">
                <img src="assets/images/soup2.jpg">
            </a>
        </div>
        <div class="col-md-2 px-0">
            <a href="assets/images/soup3.jpg">
                <img src="assets/images/soup3.jpg">
            </a>
        </div>
        <div class="col-md-2 px-0">
            <a href="assets/images/soup1.jpg">
                <img src="assets/images/soup1.jpg">
            </a>
        </div>
    </div>    
</div>


        <div class="col-md-4">
            <img src="assets/images/logo-dark.png" class="bottomlogoo">  
        </div>         
        <div class="col-md-4">
            <div class="siteinformation">
                <div class="velozionbottom">crafted with <i class="fa fa-heart bottomhearte" aria-hidden="true"></i>  <em>BY</em> velozion </div>  
            </div> 
        </div>
        <div class="col-md-4">
             <div class="d-flex justify-content-end bottmsocl">  
               <span class="followbottom">FOLLOW US</span> 
                <a href="https://twitter.com/login" target="_blank"><i class="fa fa-twitter bottomtwitter bottomsocial" aria-hidden="true"></i></a>  
                <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook bottomfacebook bottomsocial" aria-hidden="true"></i></a>
                <a href="https://www.youtube.com/" target="_blank"><i href="#" class="fa fa-youtube-play bottomyoutube bottomsocial" aria-hidden="true"></i></a> 
             </div>      
        </div>
    </div>
</div> 