<app-navbar></app-navbar>    

<div class="teampagebackground">
<div class="container">
    <div class="d-flex justify-content-center seasonal gourmand1 aboutus firstcontennt mt-0 pt-5 gnrmrtop">
        THE TEAM
    </div> 
 <div class="orangerbordermain whoornagecommon">
                                <div class="orangerborder"></div></div> 
    <div class="d-flex justify-content-center seasonal2 gourmand2 aboutus2 secondcontennt">
        The tallent behind the scenes
    </div>    
</div>  
</div> 


 
<div class="container teamcontainerr pb-5"> 
    <div class="d-flex justify-content-center seasonal gourmand1">
            THE TEAM
    </div>
    <div class="orangerbordermain whoornage4">
        <div class="orangerborder"></div>
    </div>
    <div class="d-flex justify-content-center seasonal2 gourmand2">
            Experience & Commitment
    </div>
    <div class="row theteampagee"> 
        <div class="col-md-4 gourmandteam">
        <!-- <a href="">  --> 
            <img src="assets/images/h1-team-member-1.jpg">
        <!-- </a> -->
        <div class="eltdf-team-info">
            <!-- <a itemprop="url" href="">  -->
               <h5 class="eltdf-team-name">Michael Carlos</h5>
            <!-- </a>  -->
              <h6 class="eltdf-team-position">Executive Chef</h6>
            <p class="eltdf-team-text">Michael is at the very top of the kitchen management structure and he is very calm and supervises all the operations of the kitchen with dedication.</p>
            <div class="eltdf-team-social-holder">
                <span class="eltdf-team-icon"> <span class="eltdf-icon-shortcode eltdf-normal   ">
                    <a class="" href="https://facebook.com" target="_blank">
                <span aria-hidden="true" class="eltdf-icon-font-elegant social_facebook eltdf-icon-element"></span> </a>
                </span>
                </span>
                <span class="eltdf-team-icon"> <span class="eltdf-icon-shortcode eltdf-normal   ">
                    <a class="" href="https://twitter.com" target="_blank">
                <span aria-hidden="true" class="eltdf-icon-font-elegant social_twitter eltdf-icon-element"></span> </a>
                </span>
                </span>
                <span class="eltdf-team-icon"> <span class="eltdf-icon-shortcode eltdf-normal   ">
                    <a class="" href="http://linkedin.com" target="_blank">
                <span aria-hidden="true" class="eltdf-icon-font-elegant social_linkedin eltdf-icon-element"></span> </a>
                </span>
                </span>
            </div>
          </div>
        </div>
        <div class="col-md-4 gourmandteam">
            <!-- <a href="#"> -->
             <img src="assets/images/h1-team-member-2.jpg">
            <!-- </a> --> 
                <div class="eltdf-team-info">
                        <!-- <a itemprop="url" href="#" target="_self"> -->
                    <h5 class="eltdf-team-name">Nancy</h5>
                    <!-- </a> -->
                    <h6 class="eltdf-team-position">Head Chef</h6>
                        <p class="eltdf-team-text">John generally controls the whole kitchen, from managing kitchen staff and controlling kitchen costs to liaising with suppliers and creating the mouthwatering menus.</p>
                    <div class="eltdf-team-social-holder">
                    <span class="eltdf-team-icon"> <span class="eltdf-icon-shortcode eltdf-normal   ">
                        <a class="" href="https://facebook.com" target="_blank">
                    <span aria-hidden="true" class="eltdf-icon-font-elegant social_facebook eltdf-icon-element"></span> </a>
                    </span>
                    </span>
                    <span class="eltdf-team-icon"> <span class="eltdf-icon-shortcode eltdf-normal   ">
                        <a class="" href="https://twitter.com" target="_blank">
                    <span aria-hidden="true" class="eltdf-icon-font-elegant social_twitter eltdf-icon-element"></span> </a>
                    </span>
                    </span>
                    <span class="eltdf-team-icon"> <span class="eltdf-icon-shortcode eltdf-normal   ">
                        <a class="" href="http://linkedin.com" target="_blank">
                    <span aria-hidden="true" class="eltdf-icon-font-elegant social_linkedin eltdf-icon-element"></span> </a>
                    </span>
                    </span>
                    </div>
                </div>
            </div>
        <div class="col-md-4 gourmandteam">
            <!-- <a href="#"> -->
                <img src="assets/images/h1-team-member-3.jpg">
            <!-- </a>  -->
            <div class="eltdf-team-info"> 
                    <!-- <a itemprop="url" href="#" target="_self"> -->
                    <h5 class="eltdf-team-name">James Cameron</h5>
                    <!-- </a> -->
                    <h6 class="eltdf-team-position">Sous Chef</h6>
                    <p class="eltdf-team-text">James will tend to be more hands on and actively involved in the day-to-day running of the kitchen and will also play the role of head chef when the head chef is at leave.</p>
                    <div class="eltdf-team-social-holder">
                    <span class="eltdf-team-icon"> <span class="eltdf-icon-shortcode eltdf-normal   ">
                    <a class="" href="https://facebook.com" target="_blank">
                    <span aria-hidden="true" class="eltdf-icon-font-elegant social_facebook eltdf-icon-element"></span> </a>
                    </span>
                    </span>
                    <span class="eltdf-team-icon"> <span class="eltdf-icon-shortcode eltdf-normal   ">
                    <a class="" href="https://twitter.com" target="_blank">
                    <span aria-hidden="true" class="eltdf-icon-font-elegant social_twitter eltdf-icon-element"></span> </a>
                    </span>
                    </span>
                    <span class="eltdf-team-icon"> <span class="eltdf-icon-shortcode eltdf-normal   ">
                    <a class="" href="http://linkedin.com" target="_blank">
                    <span aria-hidden="true" class="eltdf-icon-font-elegant social_linkedin eltdf-icon-element"></span> </a>
                    </span>
                    </span>
                    </div>
            </div>
        </div> 
        <div class="col-md-4 gourmandteam">
            <!-- <a href="#"> -->
                <img src="assets/images/team-member-6.jpg">
            <!-- </a> -->
            <div class="eltdf-team-info">
                <!-- <a itemprop="url" href="#">  -->
                   <h5 class="eltdf-team-name">Maria Stone</h5>
                <!-- </a> -->
                  <h6 class="eltdf-team-position">Pantry chef</h6>
                <p class="eltdf-team-text">Maria is responsible for the preparation of cold dishes, such as salads and she takes pleasure in coming up with new ideas and recipes.</p>
                <div class="eltdf-team-social-holder">
                    <span class="eltdf-team-icon"> <span class="eltdf-icon-shortcode eltdf-normal   ">
                        <a class="" href="https://facebook.com" target="_blank">
                    <span aria-hidden="true" class="eltdf-icon-font-elegant social_facebook eltdf-icon-element"></span> </a>
                    </span> 
                    </span>
                    <span class="eltdf-team-icon"> <span class="eltdf-icon-shortcode eltdf-normal   ">
                        <a class="" href="https://twitter.com" target="_blank">
                    <span aria-hidden="true" class="eltdf-icon-font-elegant social_twitter eltdf-icon-element"></span> </a>
                    </span>
                    </span>
                    <span class="eltdf-team-icon"> <span class="eltdf-icon-shortcode eltdf-normal   ">
                        <a class="" href="http://linkedin.com" target="_blank">
                    <span aria-hidden="true" class="eltdf-icon-font-elegant social_linkedin eltdf-icon-element"></span> </a>
                    </span>
                    </span>
                </div>
              </div>
            </div>
            <div class="col-md-4 gourmandteam">
                <!-- <a href="#"> -->
                 <img src="assets/images/team-member-5.jpg">
                <!-- </a> -->
                    <div class="eltdf-team-info">
                            <!-- <a itemprop="url" href="#" target="_self"> -->
                        <h5 class="eltdf-team-name">Dick Lawrence</h5> 
                        <!-- </a> -->
                        <h6 class="eltdf-team-position">Vegetable chef</h6>
                            <p class="eltdf-team-text">Dick is responsible for preparing vegetables, soups, starches, and eggs and he is passionate about finding new recipes and trying different methods.</p>
                        <div class="eltdf-team-social-holder"> 
                        <span class="eltdf-team-icon"> <span class="eltdf-icon-shortcode eltdf-normal   ">
                            <a class="" href="https://facebook.com" target="_blank">
                        <span aria-hidden="true" class="eltdf-icon-font-elegant social_facebook eltdf-icon-element"></span> </a>
                        </span>
                        </span>
                        <span class="eltdf-team-icon"> <span class="eltdf-icon-shortcode eltdf-normal   ">
                            <a class="" href="https://twitter.com" target="_blank">
                        <span aria-hidden="true" class="eltdf-icon-font-elegant social_twitter eltdf-icon-element"></span> </a>
                        </span>
                        </span>
                        <span class="eltdf-team-icon"> <span class="eltdf-icon-shortcode eltdf-normal   ">
                            <a class="" href="http://linkedin.com" target="_blank">
                        <span aria-hidden="true" class="eltdf-icon-font-elegant social_linkedin eltdf-icon-element"></span> </a>
                        </span>
                        </span>
                        </div>
                    </div>
                </div>
            <div class="col-md-4 gourmandteam">  
                <!-- <a href="#"> -->
                    <img src="assets/images/team-member-4.jpg">
                <!-- </a>  -->
                <div class="eltdf-team-info"> 
                        <!-- <a itemprop="url" href="#" target="_self"> -->
                        <h5 class="eltdf-team-name">Glen Patrow</h5>
                        <!-- </a> -->
                        <h6 class="eltdf-team-position">Roast chef </h6>
                        <p class="eltdf-team-text">Glen is responsible for the preparation of roasted meats and the appropriate sauces and he is committed to improving at every stage of cooking.</p>
                        <div class="eltdf-team-social-holder"> 
                        <span class="eltdf-team-icon"> <span class="eltdf-icon-shortcode eltdf-normal   ">
                        <a class="" href="https://facebook.com" target="_blank">
                        <span aria-hidden="true" class="eltdf-icon-font-elegant social_facebook eltdf-icon-element"></span> </a>
                        </span>
                        </span>
                        <span class="eltdf-team-icon"> <span class="eltdf-icon-shortcode eltdf-normal   ">
                        <a class="" href="https://twitter.com" target="_blank">
                        <span aria-hidden="true" class="eltdf-icon-font-elegant social_twitter eltdf-icon-element"></span> </a>
                        </span>
                        </span>
                        <span class="eltdf-team-icon"> <span class="eltdf-icon-shortcode eltdf-normal   ">
                        <a class="" href="http://linkedin.com" target="_blank">
                        <span aria-hidden="true" class="eltdf-icon-font-elegant social_linkedin eltdf-icon-element"></span> </a>
                        </span>
                        </span>
                        </div>
                </div>
            </div>  
    </div>
</div>  


<carousel class="footerbloimg" [itemsPerSlide]="itemsPerSlide"
        [singleSlideOffset]="singleSlideOffset"
        [startFromIndex]="6" 
        [interval]="4000"> 
    <slide *ngFor="let slide of slides; let index=index">
        <img [src]="slide.image" alt="image slide" style="display: block; width: 100%;">
        <div class="carousel-caption">
            <!-- <h4>{{index}}</h4> -->
        </div>
    </slide> 
</carousel> 


<app-footer></app-footer>   