<app-navbar></app-navbar> 
<div class="contactbackground">
<div class="container"> 
    <div class="d-flex justify-content-center seasonal gourmand1 aboutus firstcontennt mt-0 pt-5 gnrmrtop">
        CONTACT US 
    </div> 
    <div class="orangerbordermain whoornagecommon">
        <div class="orangerborder"></div></div> 
    <div class="d-flex justify-content-center seasonal2 gourmand2 aboutus2 secondcontennt">
        We’d love to hear from You
    </div>    
</div>  
</div> 

<div class="container">
<div class="row">
    <div class="col-md-5 getintouch">
        <div class="gtntouc">GET IN TOUCH</div>
        <p class="gettouchbottomcont">
            We heartily welcome all suggestions and comments from our beloved customers. Please feel free to contact us at the below mentioned address or you can email us. We will ensure you get quick response to your queries.
        </p> 

        <h6 class="contactt contactt2">Phone:&nbsp; &nbsp; &nbsp;&nbsp;<a style="font-size: 14px; font-weight: 400; color: #999; letter-spacing: .1em;" href="tel:+1135498746">+1135498746</a></h6>
        <h6 class="contactt contactt3">E-mail:&nbsp; &nbsp; &nbsp;&nbsp;<a style="font-size: 14px; font-weight: 400; color: #999; letter-spacing: .1em; text-transform: lowercase;" href="mailto:info@example.com">info@example.com</a></h6>
        <h6 class="contactt contactt4">Address:&nbsp; &nbsp;<span style="font-size: 14px; font-weight: 400; color: #999; letter-spacing: .1em; text-transform: capitalize;">Patterson 989,NY</span></h6>
        <h6 class="contactt contactt5">FOLLOW: <span class="eltdf-icon-shortcode normal   eltdf-icon-tiny" style="margin: 0 12px 0 20px;width: 14px;height: 14px;line-height: 14px" data-hover-color="#c5b358" data-color="#999999">
                <a itemprop="url" class="" href="https://twitter.com" target="_blank">
                <span aria-hidden="true" class="eltdf-icon-font-elegant  social_twitter eltdf-icon-element" style="color: #999999;font-size:14px"></span> </a>
                </span>
                <span class="eltdf-icon-shortcode normal   eltdf-icon-tiny" style="margin: 0 12px 0 0;width: 14px;height: 14px;line-height: 14px" data-hover-color="#c5b358" data-color="#999999">
                <a itemprop="url" class="" href="https://www.facebook.com" target="_blank">
                <span aria-hidden="true" class="eltdf-icon-font-elegant  social_facebook eltdf-icon-element" style="color: rgb(153, 153, 153); font-size: 14px;"></span> </a>
                </span>
                <span class="eltdf-icon-shortcode normal   eltdf-icon-tiny" style="margin: 0 12px 0 0;width: 14px;height: 14px;line-height: 14px" data-hover-color="#c5b358" data-color="#999999">
                <a itemprop="url" class="" href="https://www.instagram.com" target="_blank">
                <span aria-hidden="true" class="eltdf-icon-font-elegant social_instagram eltdf-icon-element" style="color: rgb(153, 153, 153); font-size: 14px;"></span> </a>
                </span>
                <span class="eltdf-icon-shortcode normal   eltdf-icon-tiny" style="width: 14px; height: 14px; line-height: 14px; border-color: rgb(84, 84, 84);" data-hover-border-color="#c5b358" data-color="#999999">
                <a itemprop="url" class="" href="https://linkedin.com" target="_blank"> 
                <span aria-hidden="true" class="eltdf-icon-font-elegant social_linkedin eltdf-icon-element" style="color: #999999;font-size:14px"></span> </a>
                </span>
                </h6>
    </div>
    <div class="col-md-7 aboutusrightee2">
            <iframe class="goumandaddress" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.230147287723!2d77.6770005148225!3d13.021010890823458!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae10ee00f178f9%3A0x9a55e1ada141a8c0!2sVelozion%20Technologies%20Pvt%20Ltd%20-%20Web%20Design%20and%20Development%20Company!5e0!3m2!1sen!2sin!4v1581154696252!5m2!1sen!2sin" width="600" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
</div>
</div> 

<!-- <div class="container mb-5 contactformee">   
    <h2>Contact us</h2>
    <form [formGroup]="angForm" class="row">  
        <div class="col-md-4">
            <label class="center-block">Name:
                <input class="form-control" formControlName="name">
            </label>
        </div>

        <div class="col-md-4">
            <label class="center-block">Number:
                <input class="form-control" formControlName="number"> 
            </label>
        </div>  

        <div class="col-md-8"> 
            <label class="center-block">Message:
                    <textarea class="form-control" formControlName="message"> 
                        </textarea> 
            </label>
        </div>   

        <div class="col-md-12">  
            <button class="btn btn-primary" (click)="onSubmit()">Submit</button>
        </div>
         
    </form>
    <p>Form value: {{ angForm.value | json }}</p>
    <p>Form status: {{ angForm.status | json }}</p> 
</div> -->

<!-- <div class="container">
    <div class="another-one">
            <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <h3>Angular 7 Reactive Form Validation</h3>
                        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <label>First Name</label>
                                <input type="text" formControlName="name" [(ngModel)]="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                    <div *ngIf="f.name.errors.required">First Name is required</div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label>Number</label>
                                <input type="number" formControlName="number" [(ngModel)]="number" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.number.errors }" />
                                <div *ngIf="submitted && f.number.errors" class="invalid-feedback">
                                    <div *ngIf="f.number.errors.required">Last Name is required</div>
                                </div>
                            </div> 


                            <div class="form-group">
                                <label>Email</label> 
                                <input type="text" formControlName="email" [(ngModel)]="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">Email is required</div>
                                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                </div>
                            </div> 

                            <div class="form-group">
                                <button class="btn btn-primary">Register</button>
                            </div>
                            
                        </form>
                    </div>
                </div> 
    </div>
</div> -->
  
<div class="container">
        <div class="another-one">
                <div class="row">
                        <div class="col-md-6 offset-md-3">
                            <h3>Angular 7 Reactive Form Validation</h3>
                            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                                <div class="form-group">
                                    <label>First Name</label>  
                                    <input type="text" formControlName="name"   class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                        <div *ngIf="f.name.errors.required">First Name is required</div>
                                    </div>
                                </div>
                
                                <div class="form-group">
                                    <label>Number</label>
                                    <input type="number" formControlName="number"   class="form-control" [ngClass]="{ 'is-invalid': submitted && f.number.errors }" />
                                    <div *ngIf="submitted && f.number.errors" class="invalid-feedback">
                                        <div *ngIf="f.number.errors.required">Last Name is required</div>
                                    </div>
                                </div> 
    
                                <div class="form-group"> 
                                    <label>Email</label> 
                                    <input type="text" formControlName="email"   class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                        <div *ngIf="f.email.errors.required">Email is required</div>
                                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                    </div>
                                </div> 
    
                                <div class="form-group">
                                    <button class="btn btn-primary">Register</button>
                                </div>
                                
                            </form>
                        </div> 
                    </div> 
        </div>
    </div>
 
<app-footer></app-footer>   